################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/task2/task2/task2.vcxproj.filters
/task2/task2/task2.vcxproj.user
/task1
/task2/.vs/